body {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

input {
    font-size: 14px;
    padding: 5px 10px;
    width: 600px;
}

.title {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #24445c;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: white;   
}

button {
    background-color: #007BFF;
    color: white;             
    border: none;             
    padding: 7px 10px;       
    font-size: 14px;
    font-weight: 600;           
    border-radius: 5px;        
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0056b3;
}

#logout-button {
    background-color: #dc3545;
    padding: 10px;
}

#logout-button:hover {
    background-color: #c82333;
}

#chat-box {
    height: 300px;
    width: 800px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    border-radius: 5px; 
}

.message {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid #eee;
}

.evaluated {
    color: green;
    font-weight: bold;
}

.not-evaluated {
    color: red;
    font-style: italic;
}

#recipient-input {
    display: none;
    width: 780px;
    margin-bottom: 10px;
}

.retourContainer {
    margin-top: 20px;
}

.sendMessage {
    display: none;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #24445c;
}

.logout {
    display: none;
    justify-content: center;
    margin-top: 20px;
}

.administration {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#administration{
    background-color: #4CAF50;
    padding: 7px 10px;
}

#administration:hover {
    background-color: #45a049;
}

.setUsername {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #24445c;
    border-radius: 5px;
}

.inputContainer {
    background-color: #24445c;
    border-radius: 5px;
    padding: 20px;
}

.inputSubContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submitContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

label {
    color: white;
}

#submit {
    padding: 7px 10px;
    background-color: #4CAF50;
}

#submit:hover {
    background-color: #45a049;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#logoutAdmin {
    background-color: #dc3545;
    padding: 10px;
}

#logoutAdmin:hover {
    background-color: #c82333;
}

/* Style pour le tableau */
.tableContainer {
    width: 800px;
    text-align: center;
    margin: 30px 0;
    /* background-color: #24445c; */
}

.tableContainer p {
    font-weight: bold;
    font-size: 20px;
    color: #4d4d4d;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Style des cellules et bordures */
th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Style des en-têtes */
th {
    background-color: #24445c;
    font-weight: bold;
    color: white;
}

/* Alternance des couleurs des lignes */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}